<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/usuario/lista" th class="btn btn-secondary btn-sm"><h1>Lista de Usuarios</h1></a><br>
<a href="/usuario/crear" th class="btn btn-secondary btn-sm"><h1>Crear Usuario</h1></a><br>
<a href="/mockycrud/" th class="btn btn-secondary btn-sm"><h1>Lista de Mocky</h1></a><br>
<a href="/mockycrud/crear" th class="btn btn-secondary btn-sm"><h1>Crear Mocky</h1></a><br><br>

<a href="/login" th class="btn btn-secondary btn-sm"><h1>LogIn</h1></a><br>
<a href="/logout" th class="btn btn-secondary btn-sm"><h1>LogOut</h1></a><br>
</body>
</html>